
  @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rajdhani:wght@600&display=swap');

  body{
    height: 200vh;
    background-color: #eee;
  }
.bg-custom-primary {
  background-color: #000051;
}

.text-custom-gray-dark {
  color: #343a40;
}

.text-custom-white-brand {
  color: #fff;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
}

.carousel-custom-1 {
    background-image: url('../img/carousel/main-slider-2-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.carousel-custom-2 {
    background-image: url('../img/carousel/main-slider-2-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.brand-title {
    font-family: 'Bungee', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: whitesmoke;
    
}

.header-title {
    font-family: 'Bungee', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #343a40;;
    
}

.brand-text {
    color: #ccc;
    font-family: sans-serif;;
}

.card-custom {
    border: 1px solid transparent !important;
}

.card-feature-custom{
    height: auto;
}

.card-feature-custom:hover::after {
    content: "";
    outline: 3px solid #000051;
}

.bg-custome-transparent {
    background-color: transparent !important;
}





